* {
  margin: 0;
  padding: 0;
}
header {
    color:#fff;
    text-transform: uppercase;
    text-align: center;
}
a[href*='github'] {
    color:#fff;
}
a:hover {
    color:gold;
}
figure {
    height: 150px
}
